html{
    background-color:black;
    overflow-x: hidden;
}

body{
  margin:5px;
}

#titlu{
    color: wheat;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
          
}

canvas{
    background-color:wheat;
    border: 5px solid salmon;
    width: 250%;   
    margin-left: 55%; 
   
    
}

button{
    background-color: wheat;
    border: 5px solid salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width:10%;
    padding:1%;
    
}

#reset{

  position: absolute;
  margin-top:2%;
  margin-left: 22.5%;
  width:150%;

   
}

#solve{
    position: absolute;
    margin-top:2%;
    margin-left: 60.5%;
    width:150%;  
   
}

#dropLocation{
    display: inline-block;
    
}
.poze1{
    display: inline-block;
    float: left;
    padding-left: 2%;
}

.poze2{
    display: inline-block;
    padding-right: 5%;
    float: right;
}

   